{% extends "base.html" %}

{% block conteudo %}

<h1 class="mb-4">
    Criar Cobrança
</h1>

<form method="POST" class="card shadow p-4">

    <div class="mb-3">

        <label>
            Morador
        </label>

        <select name="usuario_id"
                class="form-control">

            {% for usuario in usuarios %}

            <option value="{{ usuario[0] }}">

                {{ usuario[1] }}

            </option>

            {% endfor %}

        </select>

    </div>

    <div class="mb-3">

        <label>
            Descrição
        </label>

        <input type="text"
               name="descricao"
               class="form-control">

    </div>

    <div class="mb-3">

        <label>
            Valor
        </label>

        <input type="number"
               step="0.01"
               name="valor"
               class="form-control">

    </div>

    <button type="submit"
            class="btn btn-primary">

        Criar Cobrança

    </button>

</form>

{% endblock %}