<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login - Complexo Lindenberg</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="login-body">

<div class="login-container">

    <div class="login-card">

        <img src="/static/logo.png"
             class="logo-login">

        <h2>Lindenberg</h2>

           <p class="text-muted">
             Gestão Condominial
        </p>

        <form method="POST">

            <div class="mb-3">

                <input type="email"
                       name="email"
                       class="form-control"
                       placeholder="Digite seu email"
                       required>

            </div>

            <div class="mb-3">

                <input type="password"
                       name="senha"
                       class="form-control"
                       placeholder="Digite sua senha"
                       required>

            </div>

            <button type="submit"
                    class="btn btn-primary w-100">

                Entrar

            </button>

        </form>

    </div>

</div>

</body>

</html>